.new-expense{
    background-color: #c08af3;
    display: flex;
    width: 50rem;
    max-width: 95%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 12px;
    margin: 2rem auto;
}